.productCard {
    width: 18vmax;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin: 2vmax;
    transition: all 0.4s;
    padding-bottom: 0.5vmax;
    color: #000;
    overflow: hidden;
    border-radius: 0.4vmax;
    background: #d8d5ff;
    padding: 2vmax 1.25vmax;
}


.productCard>img {
    width: 15vmax;
    height: 15vmax;
    object-fit: contain;
    transition: all 0.4s;
    mix-blend-mode: multiply;
}

.productCard>img:hover {
    transform: scale(110%);
}

.productCard>p {
    font-size: 1.25vmax;
    margin: 1vmax 0.5vmax;
    margin-bottom: 0;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-weight: bold;
    display: -webkit-box;
}

.productCard>div {
    margin: 0.5vmax;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.productCard>div>span {
    margin: 0.5vmax;
    font: 300 0.85vmax cursive;
}

.productCard>span {
    font-size: 1.15vmax;
    margin: 0.5vmax;
    color: tomato;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


@media (max-width:600px) {
    .productCard {
        width: 30vmax;
        align-items: center;
        padding: 4vmax 2vmax;
    }

    .productCard>img {
        width: 28vmax;
    }

    .productCard>p {
        font-size: 2.5vmax;
    }

    .productCard>div {
        margin: 0;
    }

    .productCard>span {
        font-size: 1.85vmax;
    }

}