.ProductDetails {
    background-color: rgb(255, 255, 255);
    width: 100vw;
    max-width: 100%;
    padding: 4vmax 6vmax;
    box-sizing: border-box;
    display: flex;
}

.ProductDetails>div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2vmax;
    box-sizing: border-box;
    border: 1px solid white;
}

.ProductDetails>div:last-child {
    align-items: flex-start;
}

.CarouselImage {
    width: 25vmax;
    height: 30vmax;
    object-fit: contain;
    border: 4px solid #e9e9e9;
}

.detailsBlock-1>h2 {
    color: rgb(54, 54, 54);
    font-weight: 600;
    font-size: 2vmax;
}

.detailsBlock-1>p {
    color: rgba(0, 0, 0, 0.782);
    font: 200 1vmax cursive;
    padding-bottom: 0.25vmax;
}

.detailsBlock-2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.205);
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    width: 70%;
    padding: 1vmax 0;
    gap: 1vmax;
}

.detailsBlock-2-span {
    font: 200 1.2vmax cursive;
    color: rgba(0, 0, 0, 0.699);
}

.detailsBlock-3 {
    width: 70%;
}

.detailsBlock-3>h1 {
    color: #eb4034;
    font: 400 1.8vmax "Franklin Gothic Medium";
    margin: 1vmax 0;
}

.detailsBlock-3-1 {
    display: flex;
    align-items: center;
}

.detailsBlock-3-1-1>button {
    border: none;
    background-color: rgba(0, 0, 0, 0.616);
    padding: 0.5vmax;
    cursor: pointer;
    color: white;
    transition: all 0.5s;
    width: 2.5vmax;
    font-size: 1.25vmax;
}

.detailsBlock-3-1-1>button:hover {
    background-color: rgba(0, 0, 0, 0.767);
}

.detailsBlock-3-1-1>input {
    border: none;
    padding: 0.5vmax;
    width: 3vmax;
    text-align: center;
    outline: none;
    font-weight: 400;
    font-size: 1.5vmax;
    color: rgba(0, 0, 0, 0.74);
}

.detailsBlock-3-1>button:last-child {
    border: none;
    cursor: pointer;
    color: white;
    transition: all 0.5s;
    background-color: tomato;
    font: 500 1vmax sans-serif;
    font-weight: bold;
    border-radius: 20px;
    padding: 0.75vmax 2vmax;
    margin: 1vmax;
    outline: none;
}

.detailsBlock-3-1>button:last-child:hover {
    background-color: rgb(214, 84, 61);
}

.detailsBlock-3>p {
    border-top: 1px solid rgba(0, 0, 0, 0.205);
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    padding: 1vmax 0;
    color: rgba(0, 0, 0, 0.651);
    font-weight: 400;
    font-size: 1vmax;
    margin: 1vmax 0;
}

.detailsBlock-4 {
    color: rgba(0, 0, 0, 0.897);
    font: 500 1.5vmax sans-serif;
    margin: 0.5vmax 0;
}

.detailsBlock-4>p {
    color: rgba(0, 0, 0, 0.734);
    font: 300 1.25vmax sans-serif;
}

.submitReview {
    border: none;
    background-color: tomato;
    font-weight: 500;
    font-size: 1vmax;
    border-radius: 20px;
    padding: 0.6vmax 2vmax;
    font-weight: bold;
    margin: 1vmax 0;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
    outline: none;
}

.submitReview:hover {
    background-color: rgb(197, 68, 45);
}

.submitDialog {
    background-color: rgba(0, 0, 0, 0.205);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 8;
}

.submitDialog .area {
    z-index: 10;
    background-color: #fff;
    height: 30vmax;
    margin: auto;
    width: 40vmax;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vmax;
}

.submitDialog .area button {
    font-weight: 600;
    padding: 1vmax;
    margin: 1vmax;
    background-color: rgb(245, 245, 245);
}

.submitDialog .area button:first-child {
    color: #ff0022;
}

.submitDialog .area button:hover {
    background-color: rgb(236, 236, 236);
}

.submitDialog .area .submitDialogTextArea {
    border: 1px solid rgba(0, 0, 0, 0.082);
    margin: 1vmax 0;
    outline: none;
    padding: 1rem;
    font-weight: 300;
    font-size: 1rem;
    font-family: cursive;
    height: 50%;
    width: 85%;
    margin: 0 auto;
}

.noProductPage>a:hover {
    background-color: rgb(253, 86, 57);
}

.reviewsHeading {
    color: #000000be;
    font-weight: 500;
    font-size: 1.4vmax;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.226);
    padding: 1vmax;
    width: 20vmax;
    margin: auto;
    margin-bottom: 4vmax;
}

.reviews {
    display: flex;
    overflow: auto;
}

.reviewCard {
    flex: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.226);
    border: 1px solid rgba(56, 56, 56, 0.116);
    width: 23vmax;
    display: flex;
    flex-direction: column;
    margin: 1vmax;
    padding: 1vmax;
    padding-bottom: 2vmax;
    text-align: left;
    position: relative;
}

.reviewCard>div:first-child {
    display: flex;
    align-items: center;
    width: 95%;
}

.reviewCard>div:last-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1.5vmax;
    width: 95%;
}

.reviewCard>div>img {
    width: 4vmax;
    height: 4vmax;
    object-fit: cover;
    border-radius: 100%;

}

.reviewCard>div>p {
    color: rgba(0, 0, 0, 0.836);
    font-weight: 600;
    font-size: 1.5vmax;
    margin: 0.5vmax auto;
}

.reviewCardComment {
    color: rgba(0, 0, 0, 0.745);
    font: 300 1vmax cursive;
}

#deleteReview {
    color: red;
    position: absolute;
    bottom: 42%;
    right: 12%;
    font-weight: 600;
    cursor: pointer;
}

.noReviews {
    font: 500 1.8vmax "Gill Sans";
    text-align: center;
    color: rgba(0, 0, 0, 0.848);
}

@media screen and (max-width: 600px) {
    .ProductDetails {
        flex-direction: column;
        height: unset;
        padding: 8vmax 2vmax 0vmax 2vmax;
    }

    .ProductDetails>div:last-child {
        align-items: center;
    }

    .detailsBlock-1>h2 {
        font-size: 3.25vmax;
        text-align: center;
    }

    .detailsBlock-1>p {
        text-align: center;
        font-size: 1.4vmax;
    }

    .detailsBlock-2 {
        width: 100%;
        justify-content: center;
        gap: 1vw;
    }

    .detailsBlock-2>span {
        font-size: 1.85vmax;
    }

    .detailsBlock-3>h1 {
        font: 700 3vmax "Franklin Gothic Medium";
        text-align: center;
    }

    .detailsBlock-3-1 {
        flex-direction: column;
    }

    .detailsBlock-3-1-1 {
        padding: 2vmax 0;
    }

    .detailsBlock-3-1-1>button {
        padding: 1.2vmax;
        width: 4vmax;
    }

    .detailsBlock-3-1-1>input {
        padding: 1.5vmax;
        width: 5vmax;
        font: 400 2vmax sans-serif;
    }

    .detailsBlock-3-1>button:last-child {
        font-weight: 500;
        font-size: 1.7vmax;
        padding: 1.5vmax;
        width: 20vmax;
        margin: 3vmax 0;
        border-radius: 30px;
    }

    .detailsBlock-3>p {
        padding: 2.5vmax 0;
        text-align: center;
        font-size: 2vmax;
    }

    .detailsBlock-4 {
        font: 500 2.5vmax sans-serif;
    }

    .detailsBlock-4>p {
        font: 300 1.8vmax sans-serif;
    }

    .submitReview {
        font-size: 2vmax;
        padding: 1.5vmax;
        width: 20vmax;
        margin: 3vmax 0;
        border-radius: 30px;
    }

    .submitDialog .area {
        background-color: #fff;
        height: 35vmax;
        margin: 0 auto;
        width: 40vmax;
        gap: 2vmax;
    }

    .reviewCard {
        width: 28vmax;
        height: fit-content;
    }

    .reviewCard>p {
        font: 600 3vw sans-serif;
        margin: 0.75vmax auto;
    }

    .reviewCard .reviewCardComment {
        font: 300 1.8vmax cursive;
        text-align: justify;
    }

    .noReviews {
        font-size: 4vw;
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}